/* category_list.module.css */
.marketCard {
  background-color: #fff; /* Warna latar belakang putih */
  border-radius: 8px; /* Sudut membulat */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Bayangan halus */
  margin: 10px 6px;
  text-align: center; /* Teks di tengah */
  transition: transform 0.2s; /* Transisi saat hover */
  height: 28rem; /* Tinggi tetap untuk kartu */
  display: flex; /* Menggunakan flexbox */
  flex-direction: column; /* Mengatur elemen dalam kolom */
  justify-content: space-between; /* Menyebar elemen secara merata */
}

.marketCard:not(:last-child) {
  margin-right: 10px; /* Jarak antar card */
}

.marketCard:hover {
  transform: scale(105%);
  cursor: pointer;
}

.marketImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.marketTitle {
  font-size: 1.2rem; /* Ukuran font judul */
  font-weight: bold; /* Tebal */
  color: #333; /* Warna teks */
  margin: 10px 0; /* Margin atas dan bawah */
  overflow: hidden; /* Menyembunyikan teks yang melampaui batas */
  text-overflow: ellipsis; /* Menampilkan ellipsis untuk teks yang terpotong */
  display: -webkit-box; /* Membuat box fleksibel */
  -webkit-box-orient: vertical; /* Mengatur orientasi box */
  -webkit-line-clamp: 1;
}

.marketDescription {
  font-size: 0.9rem; /* Ukuran font deskripsi */
  color: #666; /* Warna teks deskripsi */
  margin: 5px 1rem; /* Margin atas dan bawah */
  overflow: hidden; /* Menyembunyikan teks yang melampaui batas */
  text-overflow: ellipsis; /* Menampilkan ellipsis untuk teks yang terpotong */
  display: -webkit-box; /* Membuat box fleksibel */
  -webkit-box-orient: vertical; /* Mengatur orientasi box */
  -webkit-line-clamp: 2; /* Membatasi jumlah baris deskripsi */
}

.marketLocation {
  font-size: 1.1rem; /* Ukuran font harga */
  font-weight: bold; /* Tebal */
  color: #000000; /* Warna merah untuk harga */
  margin: 10px 0; /* Margin atas dan bawah */
  overflow: hidden; /* Menyembunyikan teks yang melampaui batas */
  text-overflow: ellipsis; /* Menampilkan ellipsis untuk teks yang terpotong */
  display: -webkit-box; /* Membuat box fleksibel */
  -webkit-box-orient: vertical; /* Mengatur orientasi box */
  -webkit-line-clamp: 1;
}

/* @media (max-width: 1300px) {

} */